@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(8rem); }
  97% {
    transform: translateY(-0.3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-8rem); }
  97% {
    transform: translateY(0.3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes growFromCenter {
  0% {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1); }
  100% {
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1); } }

@keyframes growFromRight {
  0% {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -75%) scale(0.1); }
  100% {
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -75%) scale(1); } }

/* Reset CSS for cross-browser compatibility */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* allows other elements to inherit box-sizing specified in body */
  box-sizing: inherit; }

html {
  /* this makes it a lot easier to calcute rem. 62.5 is 10/16 so our defualt fontsize is relative to user settings */
  font-size: 62.5%; }

body {
  /* makes it so that padding and width don't add to total size of element. i.e. height and width will now extend to define other parts of the box model */
  box-sizing: border-box; }

body {
  font-family: 'Hind Siliguri', sans-serif;
  font-weight: 400px;
  line-height: 1.7;
  color: #878787; }

.heading-primary {
  position: absolute;
  top: 15%;
  left: 85%;
  transform: translate(-85%, -15%);
  -webkit-background-clip: text;
  color: #F64900;
  line-height: 1.3;
  text-transform: uppercase;
  letter-spacing: 1.3rem;
  font-size: 6rem;
  backface-visibility: hidden; }
  .heading-primary--1 {
    display: block;
    letter-spacing: 3.1rem;
    -webkit-animation: moveInBottom 1.5s ease-out; }
  .heading-primary--2 {
    display: block;
    letter-spacing: 2.2rem;
    -webkit-animation: moveInTop 1.5s ease-out; }

.heading-secondary {
  position: absolute;
  top: 42%;
  left: 90%;
  transform: translate(-90%, -42%);
  display: inline;
  width: 35rem;
  font-size: 3.5rem;
  background-image: linear-gradient(to right, #F68E00, #FFAA35);
  -webkit-background-clip: text;
  color: transparent;
  font-style: italic;
  text-transform: uppercase;
  border-bottom: 2px white solid;
  padding-bottom: -1rem; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.5rem;
  transform: translateY(-0.3rem);
  /* x-axis, y-axis, blur */
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.2);
  border: none;
  cursor: pointer; }

.btn:hover {
  filter: brightness(90%); }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 0.7rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #878787; }

.btn--primary {
  background-color: #F64900;
  color: #f7f7f7; }

.btn::after {
  /* must always specify content for pseudo elements */
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--white::after {
  background-color: white; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75;
  /* automatically apply styles of 0% before anim starts */
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #F64900;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #F64900;
  padding: 3px; }

.btn-text--anim-trig:hover .btn-text {
  background-color: #F64900;
  color: white;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.27);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.27);
  transform: translateY(-2px); }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  border: none;
  font-family: inherit;
  border-bottom: 3px solid transparent;
  width: 100%;
  display: block;
  transition: all .3s; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #6ac287; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #ff7730; }
  .form__input::-webkit-input-placeholder {
    color: #999; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hiden;
  transform: translateY(-4rem); }

.form__radio-group {
  width: 49%;
  display: inline-block; }

.form__radio-input {
  display: none; }

.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 4.5rem; }

.form__radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid #F64900;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -.4rem; }
  .form__radio-button::after {
    content: "";
    display: block;
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #F64900;
    opacity: 0;
    transition: opacity .2s; }

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1; }

.about {
  background-image: linear-gradient(to top, #F64900, white);
  height: 85vh; }
  .about__signup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    animation: growFromCenter 1s ease-out; }
  .about__signup-box {
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.75) 50%, transparent 50%), url(./images/attpark.jpeg);
    background-size: cover;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);
    position: relative; }
    .about__signup-box--form {
      width: 50%;
      padding: 6rem; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.header {
  height: 65vh;
  background-blend-mode: soft-light;
  background-image: linear-gradient(to right bottom, #FF7235, #F64900), url(./images/fans-1.jpeg);
  background-size: cover;
  background-position: bottom;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 50vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 50vh, 0 100%);
  position: relative;
  box-shadow: 0rem 2rem 8rem rgba(0, 0, 0, 0.3); }
