.about {
  background-image: linear-gradient(to top, $color-primary, $color-white);
  height: 85vh;

  &__signup {
    @include center-element;
    width: 60%;
    animation: growFromCenter 1s ease-out;

  }

  &__signup-box {
    background-image: linear-gradient(105deg, 
    rgba($color-white, .75) 0%,
    rgba($color-white, .75) 50%,
    transparent 50%),
    url(./images/attpark.jpeg);
    background-size: cover;
    border-radius: $border-rad-sm;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .3);
    position: relative;
    &--form {
      width: 50%;
      padding: 6rem;
    }
  }
  
}