#login {
	background-color: black;
	height: 100%;
	color: #ffffff;
	text-align: center;
	line-height: 1.5;
	margin-bottom: 0
}

#signup-container {
	padding: 100px 150px 100px 150px;
	height: 600px;
}

#signin-container {
	padding: 100px 150px 150px 150px;
	height: 600px;
}

#first-banner {
	margin-bottom: 0
}

#second-banner {
	margin-bottom: 0
}

#third-banner {
	margin-bottom: 0
}
