#login {
	height: 100%;
	text-align: center;
	line-height: 1.5;
	margin-bottom: 0
}

#signup-container {
	padding: 100px 150px 100px 150px;
	height: 600px;
}

#signin-container {
	padding: 100px 150px 150px 150px;
	height: 600px;
}

#first-banner {
	margin-bottom: 0
}

#second-banner {
	margin-bottom: 0
}

#third-banner {
	margin-bottom: 0
}

.landing-content {
	text-align: center;
	color: white
}

.landing-container {
	background-size: cover;
	height: 100%;
	width: 100%;
	position: absolute;
}

/* .giants { 
	background:
	url(https://images.pexels.com/photos/269948/pexels-photo-269948.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=350) no-repeat fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
	position: absolute;
} */

.symphony {
	background: url(https://www.billboard.com/files/media/davies_symphony_hall.jpg) no-repeat fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
	position: absolute;
}

.warriors {
	background: url(https://imagesvc.timeincapp.com/v3/mm/image?url=https%3A%2F%2Fcdn-s3.si.com%2Fs3fs-public%2Fstyles%2Fmarquee_large_2x%2Fpublic%2F2015%2F06%2F05%2Foracle-arena-warriors.jpg%3Fitok%3DD4IcX6-B&w=700&q=85) no-repeat fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
	position: absolute;
}


.giants {
	/* width: 100px;
	height: 100px; */
	background: url(https://imagesvc.timeincapp.com/v3/mm/image?url=https%3A%2F%2Fcdn-s3.si.com%2Fs3fs-public%2Fstyles%2Fmarquee_large_2x%2Fpublic%2F2015%2F06%2F05%2Foracle-arena-warriors.jpg%3Fitok%3DD4IcX6-B&w=700&q=85) no-repeat fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
	position: absolute;
	-webkit-animation-name: bGround; /* Safari 4.0 - 8.0 */
	-webkit-animation-duration: s; /* Safari 4.0 - 8.0 */
	animation-iteration-count: 299;
	animation-duration: 40s;
}



/* Standard syntax */
@keyframes bGround {
	0%   {
		background:	url(https://images.pexels.com/photos/269948/pexels-photo-269948.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=350) no-repeat fixed;background-size: cover;
		height: 100%;
		width: 100%;
		position: absolute;
	}
	33%  {	
		background: url(https://www.billboard.com/files/media/davies_symphony_hall.jpg) no-repeat fixed;background-size: cover;
		height: 100%;
		width: 100%;
		position: absolute;
	}
	66%  {
		background: url(https://imagesvc.timeincapp.com/v3/mm/image?url=https%3A%2F%2Fcdn-s3.si.com%2Fs3fs-public%2Fstyles%2Fmarquee_large_2x%2Fpublic%2F2015%2F06%2F05%2Foracle-arena-warriors.jpg%3Fitok%3DD4IcX6-B&w=700&q=85) no-repeat fixed; background-size: cover;
		height: 100%;
		width: 100%;
		position: absolute;
	}
}