.auth-buttons {
  
  height: 5rem;
  width: 5rem;
  border-radius: 100%;
  overflow: hidden;
  display: inline-block;

  &:hover {
    transform: translateY(-.3rem);
    /* x-axis, y-axis, blur */
    box-shadow: 0 1rem 1.5rem rgba(0,0,0,.2);
      &::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0; 
      }
  }
  
  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 .5rem .7rem rgba(0,0,0,.2);
  }


  &__img {
    height: 5rem;
    width: 5rem;
    border-radius: 10rem;
    border-color: transparent;
  }

  &--facebook {
    background-color: rgb(59,90,149);
    margin-right: 5rem;
    margin-left: 3rem;

    &::after {
      background-color: rgb(59,90,149);
    }
  }

  &--google {
    background-color: transparent;
  }
}
