.list {

  &-group-item {
    margin-bottom: 2rem !important;
  }

  &__title {
    font-size: 3rem;
    color: black;
  }

  &__event-info {
    display: inline-block;
  } 

  &__bttn {
    display: inline-block;
    float: right;
  }
}