.navigation {
  background-color: $color-primary;
  padding: 2rem;
  margin-bottom: 2.5rem;
  box-shadow: 0 .7rem 2rem rgba(0,0,0,.5);

  //NavIcons
  &__icon {
    font-size: 4rem;
    color: white;
    margin: auto;
    display: block;
    width: 5rem;

    &:hover {
      transform: scale(1.2);
      cursor: pointer;
    }

    &:active {
      transform: scale(.8);
    }

    &-container {
      display: inline-block;
      padding-left: 3rem;

   

      &:not(:last-child) {
        padding-right: 3rem;
        border-right: solid 3px white;
      }
    }

    &-label {
      display: block;
    }
  }
}

