.navigation {
  background-color: $color-primary;
  padding: 2rem;
  margin-bottom: 2.5rem;
  box-shadow: 0 .7rem 2rem rgba(0,0,0,.5);

  //NavIcons
  &__icon {
    font-size: 40px;
    color: white;
    

    &-container {
      display: inline;

      &:not(:last-child) {
        margin-right: 1rem;
      }
    }

    &-label {
      display: inline-block;
    }
  }
}

