#signin-container {
	padding-top: 40px;
	background-color: #111;
	color: #fff;
	font-size: 25px;
	letter-spacing: 5px;
	text-align: center;
	margin-top: 200px;
	font-size: 36px;
	line-height: 1.5;
	height: auto;
}

#landing-link {
	font-size:25px;
}

p #click {
	font-size:25px;
}