@mixin clearfix {
  &::after{
    content: "";
    display: table;
    clear: both;
  }
}

@mixin center-element {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin center-right-element {
position: absolute;
top: 50%;
left: 85%;
transform: translate(-85%, -50%);
} 

@mixin center-right-top-element {
  position: absolute;
  top: 15%;
  left: 90%;
  transform: translate(-90%, -15%);
  } 