//COLORS
$color-primary: #EB5A14;
$color-primary: #F64900;
$color-primary-light: #FF7235;
$color-primary-dark: #982D00;


$color-secondary: #06599F;
$color-secondary-light: #3485C7;
$color-secondary-dark: #033762;

// $color-secondary-light: #0075C4;
$color-tertiary: #F68E00;
$color-tertiary-light: #FFAA35;
$color-tertiary-dark: #985800;

$color-four: #00A764;
$color-four-light:#2BCD8C;
$color-four-dark: #00673E;

$color-grey-dark: rgb(135, 135, 135);
$color-grey-dark-2: #999;
$color-grey-light-1: #f7f7f7;

$color-black: #000000;
$color-white: rgb(255,255,255);

//FONT
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//BORDER
$border-rad-sm: 3px;
