.landing {


}

.intro {
    
  height: 100vh;
  width: 100vw;
  position: relative;
  z-index: 5;

//HEADINGS

  &__heading--main {
    position: absolute;
    left: 50%;
    top:5%;
    z-index: 5;
    text-transform: uppercase;
    font-size: 8rem;
    transform: translateX(-50%);
    letter-spacing: 2.6rem;
  }

  &__heading--sub {
    position: absolute;
    left: 50%;
    top: 20%;
    z-index: 5;
    color: orange;
    font-size:5rem;
    text-transform: uppercase;
    transform: translateX(-50%);
    letter-spacing: 1rem;

  }

  //IMAGES
  &__heroes {
    position: absolute;
    top: 0;
    width: 40%;
    height: 100%;
    object-fit: cover;

      &-1 {
        left: 0;
        clip-path: polygon(0 0, 80% 0, 65% 100%, 0 100%);
        z-index: 3;
      }

      &-2 {
        left: 26%;
        clip-path: polygon(10% 0, 100% 0, 80% 100%, 0 100%);
        z-index: 2;
        width: 45%;
      }

      &-3 {
        left: 60%;
        clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
        z-index: 1;
      }
  }


//AUTHENTICATION
  &__auth-container--local {
    @include center-element;
    z-index: 8;
    padding-bottom: 1rem;
    border-bottom: solid 2px white;
  }

  &__login-link {
    font-size: 1.7rem;
    text-align: center;
    margin-top: 1rem;
  }
}
