body {
  font-family: 'Hind Siliguri', sans-serif;
  font-weight: 400px;
  line-height: 1.7;
  color: $color-grey-dark;
}

.heading-primary {
  //background-image: linear-gradient() blocked the animation 🤔
  text-align: center;
  -webkit-background-clip: text;
  color: $color-primary;
  line-height: 1.3;
  text-transform: uppercase;
  letter-spacing: 1.3rem;
  font-size: 6rem;
  backface-visibility: hidden;

    &--1 {
      display: block;
      letter-spacing: 3.1rem;
      -webkit-animation: moveInBottom 1.5s ease-out;
    }
    
    &--2 {
        display: block;
        letter-spacing: 2.2rem;
        -webkit-animation: moveInTop 1.5s ease-out;
    }
}

.heading-secondary {
  text-align: left;
  font-size: 2.8rem;
  background-image: linear-gradient(to right, $color-tertiary, $color-tertiary-light);
  -webkit-background-clip: text;
  color: transparent;
  font-style: italic;
  text-transform: uppercase;
  border-bottom: 2px white solid;
  padding-bottom: -1rem;
  -webkit-animation: moveInLeft 1.5s ease-out;
}

